
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:black;
    color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  
}

.left{
    width:26vw;
    padding: 9px 5px;
}
.rigth{
    width: 75vw;
    margin: 15px 0;
    position: relative;
 
}

.home ul li{
    display: flex;
    gap:15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-size: 13px;
}
.heading{
    display: flex;
    gap:15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}
.heading  img{
    width: 17px;
}
heading h4{
    font-size: 15px;
}
.library{
    min-height: 80vh;
    position: relative
   
}
.footer{

    font-size: 7px;
    display: flex;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 12px 0;
    font-weight: bold;
   
}
.footer a{
    color: grey;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #2c2c2c;
    height: 48px;
    align-items: center;
}
.header > *{
padding: 10px;
}
.spotify-playlist{
    padding: 16px;
    

    
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: scroll;
}

 .card{
   width: 167px;
    border-radius: 15px;
    padding: 8px;
    background-color: #252525;
    margin: 10px 0px;
    position: relative;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.card h3{
    font-size: 15px;
}
.card p{
color: grey;
font-size: 12px;
}
.play{
   position: absolute;
    top: 115px;
    right: 18px;
    opacity: 1;
    transition: all 1s ease-out;
}
.buttons > *{
margin: 5px 5px;
}
.signupbutton{
font-weight: bold;
background-color: #2c2c2c;
color: rgb(73, 73, 73);
border: none;
outline: none;
cursor: pointer;
font-size: 10px;
}
.signupbutton:hover{
    font-size: 11px;
    color:white;

}  
.loginbutton{
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 6px 0;
    width: 65px;
    cursor: pointer;
    font-size: 10px;
}
.loginbutton:hover{
font-weight: bold;
width: 65px;
font-size: 11px;

}
.playbar{
 position: absolute;
    bottom: 0;
    background: rgb(144, 237, 144);
    padding: 10px;
    width: 100%;
}
.songbtns{
   
    display: flex;
    justify-content:center;
    gap: 16px;
}
.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 96%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}
/* 
.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
}


.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

 

    
} */
